<div class="d-none container-signup d-flex justify-content-evenly row" data-signup-target="admin">
  <div class="signup-form col-sm-10 col-md-6">
    <h2 style="color: #1c301e;" class="text-center">Moderador</h2>

    <div class="admin-signup-form text-center">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :full_name, "Nome Completo" %><br />
          <%= f.text_field :full_name,
                            autofocus: true,
                            autocomplete: "name",
                            required: true,
                            class: "wide-input" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email,
                            autofocus: true,
                            autocomplete: "email",
                            required: true,
                            class: "wide-input" %>
        </div>

        <div class="field">
          <%= f.hidden_field :role, value: "Admin" %>
        </div>

        <div class="field">
          <%= f.label :senha %>
          <% if @minimum_password_length %>
          <em>( Mínimo de <%= @minimum_password_length %> caracteres)</em>
          <% end %><br />
          <%= f.password_field :password,
                                autocomplete: "new-password",
                                class: "wide-input" %>
        </div>

        <div class="field">
          <%= f.label :Confirme_sua_senha %><br />
          <%= f.password_field :password_confirmation,
                                autocomplete: "new-password",
                                required: true,
                                class: "wide-input" %>
        </div>

        <div class="actions m-2">
          <%= f.submit "Pronto!" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="img-signup col-sm-10 col-md-5 pt-4">
    <%= image_tag('undraw_access_account_re_8spm.svg', alt: 'Cadastro', class:'signup-img') %>
  </div>
</div>
