<div class="container container-budget">
  <div class="make-budget mailer-title text-center my-3">
    <h1>Solicite aqui seu orçamento</h1>
  </div>
  <div class="mail-form">
    <%= form_with(model: @email, url: orcamento_enviar_email_path) do |form| %>
      <div class="mail-field">
        <%= form.label :name, "Nome" %>
        <%= form.text_field :recipient %>
      </div>
      <div class="mail-field">
        <%= form.label :subject, "Assunto/Serviço" %>
        <%= form.text_field :subject %>
      </div>
      <div class="mail-field">
        <%= form.label :body, "Sua mensagem" %>
        <%= form.text_area :body %>
      </div>
      <div class="actions send-email">
        <%= form.submit "Enviar E-mail" %>
      </div>
    <% end %>
  </div>
</div>
