<div class="container new-property d-flex justify-content-between row">
  <div class="property-form col-sm-10 col-md-6">
    <h2 style="color: #1c301e;" class="text-center my-3">Nova propriedade</h2>

    <div class="property-new-form">
      <%= form_for @property do |f| %>

        <div class="field m-2">
          <%= f.label :name, "Nome", for: "property_name" %><br />
          <%= f.text_field :name,
                            id: "property_name",
                            autofocus: true,
                            autocomplete: "name",
                            required: true,
                            class: "property-field" %>
        </div>

        <div class="field m-2">
          <%= f.label :address, "Endereço", for: "property_address" %><br />
          <%= f.text_field :address,
                            id: "property_address",
                            autofocus: true,
                            autocomplete: "address",
                            required: true,
                            class: "property-field" %>
        </div>

        <div class="field m-2">
          <%= f.label :owners, "Proprietários", for: "property_owners" %><br />
          <%= f.text_field :owners,
                            id: "property_owners",
                            autofocus: true,
                            autocomplete: "owners",
                            required: true,
                            class: "property-field" %>
        </div>

        <div class="field m-2">
          <%= f.label :size, "Tamanho estimado", for: "property-size" %><br />
          <%= f.text_field :size,
                            id: "property-size",
                            autofocus: true,
                            autocomplete: "size",
                            required: true,
                            class: "property-field" %>
        </div>

        <div class="field m-2">
          <%= f.label :registration_number, "Matrícula", for: "property-number" %><br />
          <%= f.text_field :registration_number,
                            id: "property-number",
                            autofocus: true,
                            autocomplete: "registration_number",
                            required: true,
                            class: "property-field" %>
        </div>

        <div class="field m-2">
          <%= f.label :limit_type, "Tipos de divisa", for: "property_limits" %><br />
          <%= f.text_field :limit_type,
                            id: "property_limits",
                            autofocus: true,
                            required: true,
                            class: "property-field" %>
        </div>

        <div class="field m-2">
          <%= f.label :car, "CAR (Cadastro Ambiental Rural) - opcional", for: "property_car" %><br />
          <%= f.text_field :limit_type,
                            id: "property_car",
                            autofocus: true,
                            required: true,
                            class: "property-field" %>
        </div>

        <div class="field m-2">
          <%= f.label :ccir, "CCIR (Cadastro de Imóveis Rurais) - opcional", for: "property_ccir" %><br />
          <%= f.text_field :limit_type,
                            id: "property_ccir",
                            autofocus: true,
                            required: true,
                            class: "property-field" %>
        </div>

        <div class="field m-2 my-3">
          <%= f.submit "Registrar", class: "btn-registrar" %>
        </div>

      <% end %>



    </div>
  </div>
  <div class="img-new-property col-sm-10 col-md-5">
    <%= image_tag('undraw_access_account_re_8spm.svg', alt: 'Cadastro', class:'new-property-img') %>
  </div>
</div>
