<div class="navbar navbar-expand{-sm|-md|-lg|-xl|-xxl} p-2 d-flex row">

  <div class="logo col-3">
    <%= link_to root_path, class: "navbar-brand m-0" do %>
      <%= image_tag "logo_cru_gamero_e_soares.JPG", class: "logotipo" %>
    <% end %>
  </div>
  <div class="col-6 d-flex justify-content-between">
    <div class="nav-item p-1">
      <%= link_to "Produtos", "/produtos", class: "sign_up_bar" %>
      <%# <p> Produtos </p> %>
    </div>
    <div class="nav-item p-1">
      <p> Conhecimento </p>
    </div>
    <div class="nav-item p-1">
      <p> Contato </p>
    </div>
    <div class="nav-item p-1">
      <p> Trabalhos </p>
    </div>
    <div class="nav-item p-1">
      <%= link_to "Cadastre-se", new_user_registration_path, class: "sign_up_bar" %>
    </div>
  </div>
  <div class="col-3 d-flex justify-content-center">
    <div class="btn login-home p-1 text-center">
      <%= link_to "Entrar", new_user_session_path, class: "sign_up_bar" %>
    </div>
    <div class="btn login-home p-1 text-center ms-3">
      <%= link_to "Admin", new_admin_session_path, class: "sign_up_bar" %>
    </div>
  </div>

</div>
